@model List<Model.News>
@{ 

    var pc = new Business.PersianCalendar();
}
    <aside class="single_sidebar_widget popular_post_widget">
        <h3 class="widget_title">@Resource.Resource.Recent_Post</h3>
        @foreach (var item in Model)
        {
            //var newstype = CultureHelper.EnumLocalize(Enum.GetName(typeof(NewsType), item.NewsType), Thread.CurrentThread.CurrentUICulture);
            <div class="media post_item">
                <img src="@item.ImageAddress" alt="@item.Title" style="width:80px;height:80px;">

                @{ var alink = Url.RouteUrl("news", new
                    {
                        type = item.NewsType,
                        cattegory = item.Subcategory.Title,
                        newscattegory = item.NewsSubCategory.NewsCategory.Title,
                        id = item.Title
                    });}
            <div class="media-body">
                <a href="@alink">
                    <h3>@Html.Raw(item.Title)</h3>
                </a>
                @if (item.PublishDate != null)
                {
                    <p> @pc.GetPersianDay(item.PublishDate.Value), @pc.GetMonthName(item.PublishDate.Value),@pc.GetPersianyear(item.PublishDate.Value)</p>
                }
                </div>
            </div>

        }

    </aside>
