<!doctype html>
<html class="no-js" lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>خبرگزاری داهاتو </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/WebSiteContent/assets/img/favicon.ico">
    <link rel="stylesheet" href="~/WebSiteContent/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/WebSiteContent/assets/css/rtl/themify-icons.css">
    <!-- CSS here -->
    @*<link rel="stylesheet" href="~/WebSiteContent/assets/css/rtl/bootstrap.min.css">
        <link rel="stylesheet" href="~/WebSiteContent/assets/css/rtl/owl.carousel.min.css">*@

    @*<link rel="stylesheet" href="WebSiteContent/assets/css/flaticon.css">
            <link rel="stylesheet" href="~/WebSiteContent/assets/css/rtl/slicknav.css">
            <link rel="stylesheet" href="~/WebSiteContent/assets/css/rtl/animate.min.css">
            <link rel="stylesheet" href="~/WebSiteContent/assets/css/rtl/magnific-popup.css">


        <link rel="stylesheet" href="~/WebSiteContent/assets/css/rtl/slick.css">
        <link rel="stylesheet" href="~/WebSiteContent/assets//css/rtl/nice-select.css">
        <link rel="stylesheet" href="~/WebSiteContent/assets/css/rtl/style.css">
        <link rel="stylesheet" href="~/WebSiteContent/assets/css/rtl/ticker-style.css">*@
    @Styles.Render("~/bundles/sitecssfiles")
    @RenderSection("css", required: false)
</head>

<body>

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img style="width:185px;height:62px;" src="~/WebSiteContent/assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>

        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top black-bg d-none d-md-block">
                    <div class="container">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left">
                                    <ul>
                                        @*<li>
                                            <img src="~/WebSiteContent/assets/img/icon/header_icon1.png" alt="">34ºc, آفتابی
                                        </li>
                                        <li>
                                            <img src="~/WebSiteContent/assets/img/icon/header_icon1.png" alt="">شنبه ، 25 مرداد ، 1399
                                        </li>*@
                                        <li>
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <a href="/admin">پنل مدیریت</a>
                                            }
                                        </li>
                                        <li>
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <a href="/admin/account/LogOff">خروج</a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                    <ul class="header-social">
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-mid d-none d-md-block">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-3 col-lg-3 col-md-3">
                                <div class="logo">
                                    <a href="/">
                                        <img style="width:185px;height:62px;" src="~/WebSiteContent/assets/img/logo/logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            @*<div class="col-xl-9 col-lg-9 col-md-9">
                                    <div class="header-banner f-right ">
                                        <img src="~/WebSiteContent/assets/img/hero/header_card.jpg" alt="">
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
                <div class="header-bottom header-sticky">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-10 col-lg-10 col-md-12 header-flex">
                                <!-- sticky -->
                                <div class="sticky-logo">
                                    <a href="index.html">
                                        <img src="~/WebSiteContent/assets/img/logo/logo.png" alt="">
                                    </a>
                                </div>
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-md-block">
                                    <nav>
                                        <ul id="navigation">

                                            <li><a href="/">خانه</a></li>
                                            <li>
                                                @{var Newslink = Url.RouteUrl("newsofallnewscategory", new { type = "اخبار", newscount = 4 }); }
                                                @{var Articlelink = Url.RouteUrl("newsofallnewscategory", new { type = "مقاله", newscount = 4 }); }
                                                @{var contactlink = Url.RouteUrl("contactus"); }
                                                @{var aboutuslink = Url.RouteUrl("aboutus"); }

                                                <a href="#">دسته بندی</a>
                                                <ul class="submenu">
                                                    <li><a href="@Newslink">اخبار</a></li>
                                                    <li><a href="@Articlelink">مقاله</a></li>

                                                </ul>
                                            </li>

                                            <li><a href="@aboutuslink">درباره ما</a></li>

                                            <li><a href="@contactlink">تماس با ما</a></li>

                                        </ul>

                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-4">
                                <div class="header-right-btn f-right d-none d-lg-block">
                                    <i class="fas fa-search special-tag"></i>
                                    <div class="search-box">
                                        <form action="#">
                                            <input type="text" placeholder="جستجو">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-md-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>


    @RenderBody()




    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding fix">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-5 col-lg-5 col-md-7 col-sm-12">
                        <div class="single-footer-caption">
                            <div class="single-footer-caption">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img src="~/WebSiteContent/assets/img/logo/logo2_footer.png" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>
                                            درباره ما
                                            وب سایت داهاتو، تریبونی است برای تمامی کسانی که به همزیستی مسالمت‌آمیز و بدون تبعیض ملیت‌های ساکن در جغرافیای ایران کنونی باور دارند.
                                            داهاتو یک وب‌سایت مستقل است که به هیچ حزب، گروه و شخص خاصی وابستگی ندارد.
                                        </p>                                  
                                    </div>
                                </div>
                                <!-- social -->
                                <div class="footer-social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.Action("Create", "NewsLetter", new { partialname = "_FooterNewsLetter" })

                    @*<div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50 mt-60">
                            <div class="footer-tittle">
                                <h4>Instagram Feed</h4>
                            </div>
                            <div class="instagram-gellay">
                                <ul class="insta-feed">
                                    <li><a href="#"><img src="~/WebSiteContent/assets/img/post/instra1.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="~/WebSiteContent/assets/img/post/instra2.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="~/WebSiteContent/assets/img/post/instra3.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="~/WebSiteContent/assets/img/post/instra4.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="~/WebSiteContent/assets/img/post/instra5.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="~/WebSiteContent/assets/img/post/instra6.jpg" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
        <!-- footer-bottom aera -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center justify-content-between">
                        <div class="col-lg-6">
                            <div class="footer-copy-right">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> تمامی قوانین مادی و معنوی این سایت مربوط به سایت   <a href="https://dahatou.com/" target="_blank">داهاتو</a> است،استفاده از مطالب با ذکر منبع مجازاست.
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="footer-menu f-right">
                                <ul>
                                    <li><a href="#">اخبار</a></li>
                                    <li><a href="#">درباره ما</a></li>
                                    <li><a href="#">ارتباط با ما</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
   
   
    @Scripts.Render("~/bundles/sitescriptfiles")
       
    @RenderSection("scripts", required: false)
</body>
</html>