@model List<Model.News>
    <aside class="single_sidebar_widget popular_post_widget">
        @{
            var newstype = "اخبار";
            if (Model.Count > 0)
            {
                if (Model[0].NewsType == 0)
                {
                    newstype = "مقاله";
                }
            }


        }
        @if (Model.Count>0)
        {
        <h3 class="widget_title">@newstype مربوط به @Model[0].Subcategory.Category.Title</h3>
        foreach (var item in Model)
        {
            <div class="media post_item">
                <img src="assets/img/post/post_1.png" alt="post">
                <div class="media-body">
                    <a href="">
                        @Html.RouteLink(item.Title, "news", new { type = newstype, cattegory = item.Subcategory.Title, newscattegory = item.NewsSubCategory.NewsCategory.Title, id = item.Title }, new { style = "color:black" })


                    </a>
                    <p>@item.PublishDate.Value.Month @item.PublishDate.Value.Day, @item.PublishDate.Value.Year</p>
                </div>
            </div>
        }
        }


    </aside>